/*LOGIN*/
.img-login {
    height: 60px;
    width: auto;
}
.login-title {
    color: #066229;
    font-weight: 600;
    font-size: 55px;
    vertical-align: middle;
}


.navbar-brand {
    padding: 0;
    height: 65px;
}
.img-logo {
    width: auto;
}